// Fonts
//@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
//@import 'variables';


@import "_fonts";
@import "_theme";
@import '~bootstrap/scss/bootstrap';
@import "_sliders";

html {
    direction: 'rtl';
}

.form-control, .btn {
    border-radius: 0;
}
.form-check {
    padding-right: 1.25rem;
}

.form-check-input {
    margin-right: -1.25rem;
}
.form-check .form-check-input {
     float: right; 
}
.modal-header .btn-close {
    padding: 0.5rem 0.5rem;
    margin: -0.5rem auto -0.5rem -0.5rem;
}